<head>
    <meta charset="UTF-8">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <div>
        <header class="header">
            <nav class="navbar">
                <a class="nav-item" href="./index.html">Home</a>
                <a class="nav-item" href="./index.html">Dashboard</a>
                <a class="nav-item" href="./index.html">Log Out</a>
            </nav>

            <h1>The Tech Blog</h1>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
</body>

</html>