
<ul>
    {{#each posts}}
        <li>
            <div>
                <h3>{{ title }}</h3>
            </div>
            <p>{{ content }}</p>
        </li>
    {{/each}}
</ul>

<script src="../public/js/homepage.js"></script>

{{!-- {{createdAt.toLocaleString()}} --}}